/*
-phone
-tab-port
-tab-land
-regular-desktop
-big-desktop
*/
.navigation__checkbox {
  display: none; }

.navigation__button {
  background: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  transition: transform 1s;
  border-radius: 50%;
  z-index: 100;
  background: radial-gradient(#7ed56f, #28b485); }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  transition: all 1s; }
  .navigation__nav a {
    color: #fff; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__linkvisited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  margin-top: 3.5rem;
  position: relative; }
  .navigation__icon, .navigation__icon:before, .navigation__icon:after {
    width: 3rem;
    height: 2px;
    background: #777;
    display: inline-block; }
  .navigation__icon:before, .navigation__icon:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon:before {
    top: -0.8rem; }
  .navigation__icon:after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.headingPrimary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .headingPrimary--Main {
    display: block;
    font-size: 5rem;
    letter-spacing: 3rem;
    animation: moveInLeft 2s ease-out; }
    @media (max-width: 56.25em) {
      .headingPrimary--Main {
        letter-spacing: 1rem; } }
  .headingPrimary--Sub {
    display: block;
    font-size: 20px;
    letter-spacing: 1.3rem;
    animation: moveInRight 2s ease-out; }
    @media (max-width: 56.25em) {
      .headingPrimary--Sub {
        letter-spacing: 0.8rem; } }

.headingSecondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(to right, #28b485, #55c57a);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: 2px; }
  @media (max-width: 56.25em) {
    .headingSecondary {
      font-size: 2.5rem; } }
  .headingSecondary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.headingTertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-centerText {
  text-align: center; }

.u-marginBottomBig {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-marginBottomBig {
      margin-bottom: 5rem !important; } }

.u-marginBottomMedium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-marginBottomMedium {
      margin-bottom: 3rem !important; } }

.u-marginBottomSmall {
  margin-bottom: 2rem; }

.u-marginTopBig {
  margin-top: 8rem; }

.u-marginTopMedium {
  margin-top: 4rem; }

.u-marginTopSmall {
  margin-top: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--White {
  background: #fff;
  color: #777; }

.btn--Green {
  background: #55c57a;
  color: #fff; }

.btn:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--Animated {
  animation: moveInBottom 2s ease-out 0.75;
  animation-fill-mode: backwards; }

.btn--White:after {
  background: #fff; }

.btn--Green:after {
  background: #55c57a; }

.btnText:link, .btnText:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.7rem;
  transition: all 0.2s; }

.btnText:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }
  .btnText:hover:active {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }

.featureBox {
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  @media (max-width: 75em) {
    .featureBox {
      margin-bottom: 1.8rem; } }
  .featureBox:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .featureBox__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #28b485, #55c57a);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all 0.3s; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  margin-bottom: 6rem; }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0deg); } }
  .story__img {
    height: 100%;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: scale(1.1);
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: translateX(-3rem) skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: scale(1);
    filter: blur(3px) brightness(88%); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  @media (max-width: 75em) {
    .card {
      margin-bottom: 1.8rem; } }
  .card__side {
    background: #fff;
    height: 52rem;
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover !important;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/0.jpg"); }
    .card__picture--2 {
      background: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/2.jpg"); }
    .card__picture--3 {
      background: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/bgr.jpg"); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    Position: absolute;
    top: 13rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__headingSpan--1 {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.7), rgba(255, 119, 48, 0.7)); }
  .card__headingSpan--2 {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)); }
  .card__headingSpan--3 {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.7), rgba(86, 67, 250, 0.7)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 2px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__priceBox {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__priceOnly {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .card__priceValue {
    font-size: 6rem; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__priceBox {
        margin-bottom: 3rem; }
      .card__priceValue {
        font-size: 6rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.5s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        margin-top: 5rem; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 7rem;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.92); }

.form {
  margin-bottom: 2rem; }
  .form__group:not(:last-child) {
    margin-bottom: 4rem; }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #28b485; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input::-webkit-input-placeholder, .form__input input-placeholder {
      color: #777; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #28b485; }
  .form__groupR {
    width: 49%;
    display: inline-block; }
  .form__radioInput {
    display: none; }
  .form__radioLabel {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    margin-left: 4rem; }
  .form__radioBtn {
    height: 3rem;
    width: 3rem;
    border: 5px solid #55c57a;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -5px; }
    .form__radioBtn:after {
      height: 1rem;
      width: 1rem;
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #55c57a;
      opacity: 0;
      transition: opacity 0.3s; }
  .form__radioInput:checked ~ .form__radioLabel .form__radioBtn:after {
    opacity: 1; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(85, 197, 122, 0.8)), url("../img/bgr.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logoBox {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 100px; }
  .header__textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.sectionAbout {
  background: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }
  @media (max-width: 56.25em) {
    .sectionAbout {
      padding: 20rem 0; } }

.sectionFeatures {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(85, 197, 122, 0.8)), url("../img/3.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  @media (max-width: 37.5em) {
    .sectionFeatures {
      margin-top: 28rem; } }
  @media (max-width: 56.25em) {
    .sectionFeatures {
      padding: 10rem 0; } }
  .sectionFeatures > * {
    transform: skewY(7deg); }

.sectionTours {
  background: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .sectionTours {
      padding: 20rem 0 10rem 0; } }

.sectionStories {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.93), rgba(247, 247, 247, 0.93)), url("../img/beach.jpg");
  background-size: cover; }
  @media (max-width: 56.25em) {
    .sectionStories {
      padding: 10rem 0; } }

.sectionBook {
  padding: 15rem 0;
  background: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .sectionBook {
      padding: 10rem 0; } }

.book {
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/5.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 80%, transparent 80%), url(../img/5.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 80%; } }

.footer {
  background: #333;
  font-size: 1.4rem;
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logoBox {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logoBox {
        margin-bottom: 4rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 75em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem; }
    @media (max-width: 75em) {
      .footer__copyright {
        width: 100%;
        text-align: center; } }

html {
  /*define rem here*/
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 1rem; } }
