* {
margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:16px;
    line-height:1.7;
    color:#777;
    padding:30px;
}
.header {
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(40,180, 131,0.8),rgba(126,213,11,0.8)), url("../img/bgr.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
    position: relative;
}
.logoBox {
    position:absolute;
    top:40px;
    left:40px;
}
.logo {
height:100px;
}

.textBox {
position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.headingPrimary {
color:#fff;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;
}
.headingPrimaryMain{
display:block;
    font-size:50px;
    letter-spacing:30px;
    animation:moveInLeft 2s ease-out;
}
.headingPrimarySub{
    display:block;
    font-size:20px;
    letter-spacing: 13px;
    animation:moveInRight 2s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity:0;
        transform:translateX(-20%);
    }

    100% {
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity:0;
        transform:translateX(20%);
    }
    100% {
        opacity:1;
        transform:translateX(0);
    }
}