//COLORS
$colorPrimary:#55c57a;
$colorPrimaryLight:#7ed56f;
$colorPrimaryDark:#28b485;
$colorSecondaryLight:#ffb900;
$colorSecondaryDark:#ff7730;
$colorTertiaryLight:#2998ff;
$colorTertiaryDark:#5643fa;
$colorGreyDark:#777;
$colorGreyLight1: #f7f7f7;
$colorBlack:#000;
$colorWhite:#fff;


//GRID
$gridWidth:114rem;
