@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";
@import "layout/navigation";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "components/buttons";
//@import "components/card";
@import "components/featurebox";
@import "components/story";
@import "components/card";

@import "components/composition";

@import "components/form";
@import "layout/header";

@import "pages/home";

@import "layout/grid";
@import "components/footer";


html {
  /*define rem here*/
  font-size:62.5%; // 1rem =10px

  @include respond(tab-land){
    font-size:56.25%;
  }

  @include respond(tab-port){
    font-size:50%;
  }

  @include respond(big-desktop){
    font-size:75%;
  }
}

*, *:before, *:after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  box-sizing: border-box;
  padding:3rem;

  @include respond(tab-port){
    padding:1rem;
  }
}



