.u-centerText {
  text-align: center;
}
.u-marginBottomBig {
  margin-bottom: 8rem;
}
.u-marginBottomMedium {
  margin-bottom: 4rem;
}
.u-marginBottomSmall {
  margin-bottom: 2rem;
}
.u-marginTopBig {
  margin-top: 8rem;
}
.u-marginTopMedium {
  margin-top: 4rem;
}
.u-marginTopSmall {
  margin-top: 2rem;
}