.u-centerText {
  text-align: center;
}
.u-marginBottomBig {
  margin-bottom: 8rem;
  @include respond(tab-port) {
    margin-bottom: 5rem!important;
  }
}
.u-marginBottomMedium {
  margin-bottom: 4rem;
  @include respond(tab-port) {
    margin-bottom: 3rem!important;
  }
}
.u-marginBottomSmall {
  margin-bottom: 2rem;
}
.u-marginTopBig {
  margin-top: 8rem;
}
.u-marginTopMedium {
  margin-top: 4rem;
}
.u-marginTopSmall {
  margin-top: 2rem;
}